.ide-editor {
  width: 100%;
  height: 100%;
  background: #1e1e1e;
  position: relative;

  .menu-list {
    width: 100%;
    height: 100%;
    color: #ffffff;
    overflow-y: auto;

    .ant-tree {
      background: #1e1e1e;
      color: #ffffff;

      .ant-tree-node-content-wrapper {
        border-radius: 4px;
      }
    }
  }

  .idea {
    width: 100%;
    height: 100%;
  }

  .tips {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    color: rgba(255, 255, 255, 0.66);
    font-size: 14px;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    border-radius: 4px;
    backdrop-filter: blur(5px);
  }

  .view {
    width: 100%;
    height: 100%;
    border: none;
    background: #ffffff;
  }

  .ant-splitter {
    .ant-splitter-bar-dragger {
      background: #383838;
      &:before {
        background: rgba(230, 244, 255, 0.5) !important;
      }
    }
  }
}
