.ide-editor {
  width: 100%;
  height: 100%;
  background: #1e1e1e;
  position: relative;

  .nav-header {
    height: 38px;
    border-bottom: 1px solid rgba(230, 244, 255, 0.5);
    color: #ffffff;

    &.menu-header {
      display: flex;
      align-items: center;
      padding: 0 8px;
    }

    &.idea-header {
      display: flex;
      align-items: center;
      padding: 0 8px;

      .setting {
        height: 38px;
        display: flex;
        align-items: center;

        > li {
          height: 38px;
          line-height: 36px;
          cursor: pointer;
          padding: 0 20px;
          border-bottom: 2px solid transparent;

          &:hover {
            background-color: rgba(56, 56, 56, 0.84);
          }

          &.active {
            border-bottom: 2px solid #1890ff;
            background-color: rgba(56, 56, 56, 0.84);
          }
        }
      }
    }

    &.view-header {
      display: flex;
      align-items: center;
      padding: 0 8px;
    }
  }

  .menu-list {
    width: 100%;
    height: calc(100% - 38px);
    color: #ffffff;
    padding: 10px 0 0 0;
    overflow-y: auto;

    .ant-tree {
      background: #1e1e1e;
      color: #ffffff;

      .ant-tree-node-content-wrapper {
        border-radius: 4px;
      }
    }
  }

  .idea {
    width: 100%;
    height: calc(100% - 38px);
  }

  .tips {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    color: rgba(255, 255, 255, 0.66);
    font-size: 14px;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    border-radius: 4px;
    backdrop-filter: blur(5px);
  }

  .view {
    width: 100%;
    height: calc(100% - 38px);
    border: none;
    background: #ffffff;
  }

  .ant-splitter {
    .ant-splitter-bar-dragger {
      background: #383838;

      &:before {
        background: rgba(230, 244, 255, 0.5) !important;
      }
    }
  }
}
